<div class="container-fluid profile-container ">
    <div class="row profile-header align-items-center border-bottom pt-3 pb-3">
      <div class="col-auto">
        <img [src]="userData?.avatarURL" alt="Foto de perfil" class="profile-picture rounded-circle">
      </div>
      
      <div class="col">
        <h1 class="profile-username mb-1">{{userData?.username}}</h1>
        <p class="profile-bio text-muted">Esta es una breve biografía del usuario.</p>
        <button class="btn btn-primary profile-edit-btn">Editar Perfil</button>
      </div>
      <div class="profile-details p-4">
        <h2 class="h5">Detalles</h2>
        <ul class="list-unstyled">
          <li><strong>Correo Electrónico:</strong>{{this.userData?.email}}</li>
        </ul>
      </div>
    </div>

    
  
    <div class="row profile-stats text-center py-4 border-bottom">
      <div class="col">
        <div class="stat">
          <span class="stat-number h4 d-block">{{this.followersCount}}</span>
          <span class="stat-label">Seguidores</span>
          
        </div>
      </div>
      <div class="col">
        <div class="stat">
          <span class="stat-number h4 d-block">{{this.followingsCount}}</span>
          <span class="stat-label">Siguiendo</span>
        </div>
      </div>
    </div>
    <app-followers-followings></app-followers-followings>
  </div>
