<div class="container d-flex justify-content-center align-items-center">
    <div class="row  card-register  p-3">
        <div class="card p-4 shadow-sm">
            <h1 class="h4 mb-4 text-center">Create your account pipeline</h1>
            <form [formGroup]="registerUserForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" id="name"
                        placeholder="Last Name">
                </div>
                <div class="mb-3">
                    <label>Birth Date</label>
                    <input class="form-control" formControlName="birthdate" id="birthDate" name="birthDate" type="date">
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control" id="username"
                        placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="avatarUrl" class="form-label">Avatar URL</label>
                    <input type="text" formControlName="avatarURL" class="form-control" id="avatarUrl">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="password"
                        placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                </div>
        
                <div class="text-center">
                    <button class="btn btn-success  mt-3" (click)="viewInfo()">Register now</button>
                </div>
            </form>
        </div>
    </div>
</div>