<div class="feed-container">
  <!-- Componente de creación de tweet -->
  <form [formGroup]="this.tweetForm">
    <div class="create-tweet ">
      <img [src]="user?.avatarURL" alt="User Avatar" class="avatar">
      <input type="text" formControlName="content" placeholder="What's happening?" class="tweet-input">
      <button class="btn btn-primary ms-3" (click)="createTweet()">Tweet</button>
    </div>
  </form>

  @for(tweet of allTweets; track tweet.author){
  <div class="tweet-card animate__animated animate__bounce ">
    <div class="tweet-header ">
      <img [src]='tweet.author.avatarURL' alt="User Avatar" class="avatar">
      <div class="tweet-info">
        <span class="user-name">{{tweet.author.username}}</span>
        <span class="username">{{tweet.author.username}}</span>
        <span class="tweet-time">{{tweet.createdAt | date }}</span>
      </div>
    </div>
    <div class="tweet-content">
      <p>{{tweet.content}}</p>
    </div>
    <div class="tweet-actions">
      <button class="action-btn" (click)="likeTweet(tweet._id)">
        <mat-icon color="red">favorite
        </mat-icon>
        <span>{{tweet.likes.length}}</span>
      </button>
    </div>
  </div>
  }
</div>